{% extends "app/base.html" %}
{% load static %}
{% block title %}done Update Password{% endblock title %}
{% block main-content %}

<!-- <div class="container" my-5>
    <div class="row">
        <h3>Welcome {{request.user.username | capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul>
                <li class="d-grid"><a class='btn btn-primary'>Change Password</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for form in form %}
                {{form.label_tag}}
                <div> {{ form.as_p }}</div>
                <br>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submite</button>

            </form>
        </div>
    </div>
</div>  -->


<!-- app/changepassword.html -->
<!-- <h2>Change Your Password</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
</form> -->


<div class="container" my-5>
    <div class="row">
        <h3>Welcome {{request.user.username | capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul>
                <li class="d-grid"><a class='btn btn-primary'>Change Password</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                <div> {{ form.as_p }}</div>
                <br>
                <button type="submit" class="btn btn-primary">Submite</button>





{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}




{% endblock main-content %}