{% extends "app/base.html" %} 
{% load static %}
{% block title %}Update Address{% endblock title %} 
{% block main-content %}

<!-- <div class="container" my-5>
    <div class="row">
        <h3>Welcome {{request.user.username | capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a class='btn btn-primary'>Change Password Done</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-9 offset-sm-1 text-center">
            <h3>Password Change Successfully !!!</h3>
            <div>
                <iframe src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdWNqMGp5ZmQybHhyOGhtYnZuajloOHJiYjEyZHN5M2Z5ZTF6cnZ2MiZlcD12MV9naWZzX3NlYXJjaCZjdD1n/tf9jjMcO77YzV4YPwE/giphy.gif" width="200" height="200" frameborder="0" class="giphy-embed " allowfullscreen ></iframe>
            </div>
        </div>

    </div>
</div> -->


<!-- app/passwordchangedone.html -->
<h2>Password Changed Successfully</h2>
<p>Your password has been successfully updated.</p>



{% endblock main-content %}